/* Se aplica a todos los descendientes */
.sec p {
    background-color: aquamarine;
}

/* Solo descendientes directos */
.sec>p {
    font-size: 1.5rem;
}

/*Hermanos directos*/
.sec+p {
    color: #f10e0e;
}

/*Todos los hermanos*/
.sec~p {
    font-style: italic;
}

.fuera p {
    background-color: yellow;
}

.fuera>p {
    font-weight: bold;
}

/* Quiero seleccionar todos los divs 
hermanos de "dentro" */
.dentro~div {
    color: red;
}

p {
    background-color: bisque !important;
}

html {
    color: chartreuse
}

.negro {
    background-color: black;
}

.azul {
    background-color: aqua;
    font-size: 2rem;
}

#parr1 {
    background-color: blueviolet;
}

.negrita {
    font-weight: bold;
    background-color: grey;
}